@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&family=Noto+Sans+SC:wght@100;400&family=Phudu:wght@300;400&display=swap');
:root{
  font-family:'MuseoModerno', cursive;;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo-image{
  height: 110px;
  width: 100%;
}
.nav-button{
  background-color:white;
  margin-left: 10px;
  padding: 10px 10px;
  border: 1px solid lightgreen;
  border-radius: 30%;
}

